<h3 class="titulo">Contacta Conmigo</h3>
<article class="articuloSobre">
    Si quieres hacer realidad un proyecto digital y tienes en mente una idea, ponte en contacto conmigo a traves del formulario que encontrarás a continuación, o
    puedes Contactarme via {{!--por mis Redes Sociales--}} twitter 
    <a href="https://twitter.com/franqsanz" class="sobreMi" target="_blank">
        <b>@Franqsanz</b>
    </a>
    o via linkedin
    <a href="https://www.linkedin.com/in/franqsanzdev" class="sobreMi" target="_blank">
        <b>FranqsanzDev</b>
    </a>
</article>
<div class="formContacto">
    <form action="/contacto" method="post" class="formMail">
        <input type="text" name="nombre" placeholder="Nombre" class="input" required>
        <input type="email" name="email" placeholder="E-mail" class="input" required>
        <input type="text" name="asunto" placeholder="Asunto" class="input" required>
        <textarea name="msj" placeholder="Mensaje..." class="input" required></textarea>
        <input type="submit" value="Enviar" class="btnMail">
    </form>
    {{!-- <h3 class="titulo">Suscribete a mi Newsletter</h3>
    <form action="/newsletter" method="post" class="formMail">
        <input type="email" name="email" placeholder="E-mail" class="inputNewsletter" required>
        <input type="submit" value="Subscribe" class="btnNewsletter">
    </form> --}}
</div>