<h3 class="titulo">Contacta Conmigo</h3>
<article class="articuloSobre">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore maiores ratione beatae assumenda! Reprehenderit quod perferendis exercitationem consectetur explicabo consequuntur dolores saepe at earum, et laudantium deleniti dolor, illum eveniet.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repudiandae consectetur similique saepe quibusdam atque optio, placeat fuga magni aliquam quod dolor. Enim ullam eveniet ipsa eum labore quis quidem?
</article>
<div class="formContacto">
    <form action="/contacto" method="post" class="formMail">
        <input type="text" name="nombre" placeholder="Nombre y Apellido" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="asunto" placeholder="Asunto" required>
        <textarea name="msj" placeholder="Mensaje..." required></textarea>
        <input type="submit" value="Enviar" class="btnMail">
    </form>
    {{!-- <h3 class="titulo">Suscribete a mi Newsletter</h3>
    <form action="/newsletter" method="post" class="formMail">
        <input type="email" name="email" placeholder="E-mail" class="inputNewsletter" required>
        <input type="submit" value="Subscribe" class="btnNewsletter">
    </form> --}}
</div>