<h3 class="titulo">Contacta Conmigo</h3>
<article class="articuloSobre">
    Si quieres hacer realidad un proyecto digital y tienes en mente una idea, ponte en contacto conmigo, via correo
    electronico <b>francogenta8@gmail.com</b>, {{!-- a traves del
    formulario que encontrarás a continuación. --}}
    o tambien me puedes encontrar en twitter
    <a href="https://twitter.com/franqsanz" class="sobreMi" target="_blank" rel="noopener">
        <b>@Franqsanz</b>
    </a>
    o linkedin
    <a href="https://www.linkedin.com/in/franqsanzdev" class="sobreMi" target="_blank" rel="noopener">
        <b>Franco Andrés Sánchez</b>
    </a>
</article>
{{!-- <div class="formContacto">
    <form action="/contacto" method="post" class="formMail">
        <input type="text" name="nombre" placeholder="Nombre" class="input" required>
        <input type="email" name="email" placeholder="E-mail" class="input" required>
        <input type="text" name="asunto" placeholder="Asunto" class="input" required>
        <textarea name="msj" placeholder="Mensaje..." class="input" required></textarea>
        <input type="submit" value="Enviar" class="btnMail">
    </form> --}}
</div>