<div class="bienvenido">
    <div class="foto"></div>
    <p class="saludo">Hola, Bienvenido !!!</p>
</div>
<h3 class="titulos">Sobre Mi</h3>
<article class="articuloSobre">
    Mi nombre es Franco Andres Sánchez, soy Desarrollador Web, un amante de la tecnologia, un apasionado por el diseño y la programacion. Amante de JavaScritp.
</article> 