<div class="bienvenido">
    <div class="foto"></div>
    <p class="saludo">¡Hola, Bienvenido!</p>
</div>
<h3 class="titulos">Biografia</h3>
<article class="articuloSobre">
    Soy Desarrollador Web, un amante de la tecnologia, un apasionado por el diseño y
    la programación, <a href="/sobre-mi" class="sobreMi"><b>más sobre mi.</b></a>
</article>