<header>
    <div class="titulo">
        <h2>Cargue las Precipitaciones</h2>
    </div>
    <nav>
        <button class="btnRegistro">Nuevo Registro</button>
    </nav>    
</header>
<div id="text">
    <p>
        Aqui Puede Registrar sus Lluvias 
    </p>
</div>
<div class="form">
    <button class="btnCerrar">X</button>
    <form action="/profile" method="post">
        <input type="text" name="mes" placeholder="Mes">
        <input type="text" name="milimetros" placeholder="Milimetros">
        <button type="submit">Guardar</button>
    </form>
</div>
<table>
    <tbody>
        <tr>
            <th class="principal">Meses</th>
            <th class="principal">Milimetros</th>
            <th class="principal">Operacion</th>
        </tr>
        {{#each lluvias}}
        <tr>
            <th> {{this.mes}} </th>
            <th>Total: {{this.milimetros}} ml. </th>
            <th>
                <a href="/profile/eliminar/{{this._id}}" title="Eliminar" class="btnBorrar">X</a>
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    let form = document.querySelector('.form');
    let btnRegistro = document.querySelector('.btnRegistro');
    let btnCerrar = document.querySelector('.btnCerrar');

    btnRegistro.addEventListener('click', () => {
        form.style.display = 'block';
    });
    btnCerrar.addEventListener('click', () => {
        form.style.display = 'none';
    });
</script>

<style>
    * {padding: 0; margin: 0;}

    header {
        color: gray; 
        background: whitesmoke; 
        padding: 15px; 
        font-family: Arial;
        font-size: 14px;
        font-style: italic;
    }

    .titulo {display: inline-block;}
    nav {
        display: inline-block; 
        width: 77%; 
        text-align: right;
    }

    p {
        text-align: center; 
        font-size: 19px;
        padding: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btnRegistro, .btnCerrar {
        width: 120px;
        border: none;
        outline: none;
    }
    .btnCerrar {
        width: 60px; 
        background: rgb(255, 27, 27);
        color: #fff;
        font-size: 21px;
        float: right;
    }

    .form {
        display: none;
        width: 95%;
        height: 300px;
        margin: auto;
        background: rgba(0, 0, 0, 0.753);
        z-index: 9999;
        padding: 12px;
    }

    form {
        width: 300px;
        margin: 10px auto;
        padding: 15px;
        position: relative;
        top: 65px;
    }

    form > * {
        width: 88%;
        height: 20px;
        margin: 5px;
        padding: 10px;
        border: 1.8px solid gold;
        outline: none;
    }

    form > *:focus {border: 1.8px solid rgb(78, 78, 78);}

    button {
        width: 288px;
        height: 40px;
        background: gold;
    }

    table { 
        width: 700px;
        margin: 100px auto;
        color: rgb(59, 59, 59);
        font-size: 16px;
        font-family: 'mirror 82';
    }

    th {
        width: 100px;
        background: whitesmoke; 
        padding: 10px; 
        box-shadow: 0 0 7px gray;
    }

    .principal {
        background: gold; 
        color: rgb(77, 77, 77);
    }

    a {
        display: block;
        width: 30px;
        padding: 5px;
        margin: auto;
        text-decoration: none;
        color: #fff;
        background: rgb(255, 27, 27);
        font-weight: lighter;
    }
</style>