<h2>Registrarse</h2>
<form action="/register" method="post">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Registrar</button>
</form>
<a href="/signin">¿ ya te registraste ? Inicia Sesion!!</a>