<h2>Iniciar Sesion</h2>
<form action="/signin" method="post">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar Sesion</button>
</form>
<a href="/register">¿ Registrarse ?</a>