<div id="mas-SobreMi">
    <h3 class="titulo">驴Quien es Franco Andr茅s S谩nchez?</h3>
    <article class="articleSobreMi">
        <p class="infoEstudios">
            隆Hola! Mi nombre es Franco ndres S谩nchez, tengo 23 a帽os soy de C贸rdoba Argentina.
            Estudio Desarrollo Web y dedico parte de mi tiempo para seguir form谩ndome y aprendiendo cada dia sobre
            <b>JavaScript</b> y otras tecnologias como <b>Node.js, MongoDB y Vue.js</b>.
            <br>
            Mi objetivo es ser Full Stack (Desarrollador de Pila Completa).
            <br>
            隆Puedes encontrarme en twitter como <a href="https://twitter.com/franqsanz" class="sobreMi" target="_blank">
                <b>@Franqsanz</b>
            </a>!
        </p>
        <p class="infoEstudios">
            Aprendo de la comunidad y me encanta compartir lo que eh aprendido en mis redes sociales.
            <br>
            Hace un tiempo le铆 una frase que me quedo muy grabada de un desarrollador canadiense <a
                href="https://wesbos.com" class="sobreMi">
                <b>Wes Bos</b></a>.
            <br>
            <b>"Sin repeticion no hay formacion"</b>.
            Lo cual es mi frase favorita hoy en dia.
        </p>
        <p class="infoEstudios">
            Cuando no estoy creando o estudiando alguna tecnologia, paso el tiempo con mi familia y amigos o con un buen
            mate.
        </p>
        <section class="sectionCajas">
            <div class="cajas">
                <h2 class="tituloSobreMi">N煤cleo</h2>
                <ul class="ulSobreMi">
                    <li class="liSobreMi">HTML5</li>
                    <li class="liSobreMi">CSS3</li>
                    <li class="liSobreMi">JavaScript</li>
                    <li class="liSobreMi">Mobile y Responsive Design</li>
                    <li class="liSobreMi">Node.js</li>
                    <li class="liSobreMi">MongoDB</li>
                    <li class="liSobreMi">APIRest</li>
                </ul>
            </div>
            <div class="cajas">
                <h2 class="tituloSobreMi">Frameworks y Bibliotecas</h2>
                <ul class="ulSobreMi">
                    <li class="liSobreMi">jQuery</li>
                    <li class="liSobreMi">Vue.js</li>
                    <li class="liSobreMi"> Express.js</li>
                </ul>
            </div>
        </section>
    </article>
    <div class="imgSobreMi">
        <img src="/images/franqsanz.jpg" class="miFoto">
    </div>
    <h2 class="titulos">Estudios</h2>
    <div class="estudios">
        <div class="infoEstudiosSection">
            <h3 class="tituloEstudios">  Estudios por cuenta propia</h3>
            <p class="infoEstudios">
                En este 2019 me he encargado de seguir aprendiendo Progrmaci贸n Web
                de varias formas, desde cursos online, libros y articulos en internet sobre tecnologias:
                <b>
                    Node.js,
                    Express,
                    MongoDB,
                    Vue.js,
                    Handlebars.js,
                    CSSGrid,
                    Flexbox,
                    APIRest,
                    Seguridad,
                    Etc.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.educacionit.com/cordoba" target="_blank" class="a_estudios">
                     Educaci贸n IT C贸rdoba 
                </a>
            </h3>
            <p class="infoEstudios">
                En el 2018 asiste al instituto, donde realice cursos sobre Programaci贸n Web.
                <b>
                    JavaScript,
                    PHP y MySQL,
                    P.O.O. (Programaci贸n Orientada a Objetos) y
                    PHP P.O.O.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.institutocise.com.ar" target="_blank" class="a_estudios">
                     Instituto C.I.S.E. 
                </a>
            </h3>
            <p class="infoEstudios">
                En el 2017 asiste al instituto, donde realice cursos sobre:
                <b>
                    Dise帽o Grafico,
                    Dise帽o Web en HTML5, CSS3 y
                    Edicion de Video.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://instagram/ibatsanjose" target="_blank" class="a_estudios">
                     I.B.A.T. San J贸se 
                </a>
            </h3>
            <p class="infoEstudios">
                Realiz茅 el secundario en el Instituto Bachillerato AgroTecnico San J贸se
                de la localidad de Villa del Rosario, obteniendo el titulo de tecnico agropecuario.
            </p>
        </div>
    </div>
</div>