<div id="mas-SobreMi">
    <h3 class="titulo">驴Quien es Franco Andr茅s S谩nchez?</h3>
    <article class="articleSobreMi">
        <h2 class="tituloSobreMi">Sobre Mi</h2>
        <p class="infoEstudios">
            隆Hola! Mi nombre es Franco ndres S谩nchez, tengo 22 a帽os soy de C贸rdoba Argentina. 
            Estudio Desarrollo Web y dedico parte de mi tiempo para seguir form谩ndome y aprendiendo cada dia sobre <b>JavaScript</b> y otras tecnologias como <b>Node.js, MongoDB y Vue.js</b>.
        </p>
        <section class="sectionCajas">
            <div class="cajas">
                <h2 class="tituloSobreMi">N煤cleo</h2>
                HTML5,
                CSS3,
                JavaScript,
                Mobile y Responsive Design,
                Node.js,
                MonngoDB
            </div>
            <div class="cajas">
                <h2 class="tituloSobreMi">Frameworks</h2>
                jQuery,
                Vue.js,
                Express.js
            </div>
        </section>
    </article>
    <div class="imgSobreMi">
        <img src="/images/franqsanz.jpg" class="miFoto">
    </div>
    <h2 class="titulos">Estudios</h2>
    <div class="estudios">
        <div class="infoEstudiosSection">
            <h3 class="tituloEstudios">  Estudios por cuenta propia</h3>
            <p class="infoEstudios">
                En este 2019 me e encargado de seguir aprendiendo progrmaci贸n web 
                de varias formas, desde cursos online, libros y articulos en internet de 
                temas que me interesan, como los siguientes:
                <b>
                    Node.js,
                    MongoDB,
                    Vue.js,
                    Handlebars.js, 
                    CSSGrid.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.educacionit.com/cordoba" target="_blank" class="a_estudios">
                     Educaci贸n IT C贸rdoba 
                </a>
            </h3>
            <p class="infoEstudios">
                En el 2018 asiste al instituto, donde realice cursos sobre Programaci贸n Web. 
                Los cursos son:
                <b>
                    JavaScript,
                    PHP y MySQL,
                    P.O.O.  (Programaci贸n Orientada a Objetos), 
                    PHP P.O.O.
                </b>    
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.institutocise.com.ar" target="_blank" class="a_estudios">
                     Instituto C.I.S.E. 
                </a>
            </h3>
            <p class="infoEstudios">
                En el 2017 asiste al instituto, donde realice cursos sobre Dise帽o Web.
                Los cursos son:
                <b> 
                    Dise帽o Grafico,
                    Dise帽o Web en HTML5 y CSS3,
                    Edicion de Video. 
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://instagram/ibatsanjose" target="_blank" class="a_estudios">
                     I.B.A.T. San J贸se 
                </a>
            </h3>
            <p class="infoEstudios">
                Realiz茅 el secundario en el Instituto Bachillerato AgroTecnico San J贸se
                de la localidad de Villa del Rosario, obteniendo el titulo de tecnico agropecuario.
            </p>
        </div>
    </div>
</div>