<div id="mas-SobreMi">
    <h3 class="titulo">¿Quien es Franqsanz?</h3>
    <article class="articleSobreMi">
        <p class="infoEstudios">
            ¡Hola! Mi nombre es Franco Andrés Sánchez, tengo 23 años soy de Córdoba, Argentina.
            Me dedico al Desarrollo Web y dedico parte de mi tiempo para seguir formándome y aprendiendo cada día sobre
            <b>JavaScript</b> y otras tecnologías como <b>Node.js, MongoDB</b>, Etc.
            <br>
            Con objetivo en ser Full Stack (Desarrollador de Pila Completa).
        </p>
        <p class="infoEstudios">
            Aprendo de la comunidad y me encanta compartir lo que he aprendido en mis redes sociales.
            <br>
            Hace un tiempo leí una frase que me quedo muy presente de un desarrollador canadiense <a
                href="https://wesbos.com" class="sobreMi">
                <b>Wes Bos</b></a>.
            <br>
            <b>"Sin repetición no hay formacion"</b>.
        </p>
        <p class="infoEstudios">
            Cuando no estoy creando o estudiando alguna tecnología, paso el tiempo con mi familia y amigos o con un buen
            mate.
            <br>
            ¡Tambien puedes encontrarme en <a href="https://twitter.com/franqsanz" class="sobreMi" target="_blank">
                <b>Twitter</b>
            </a>!
        </p>
        <section class="sectionCajas">
            <div class="cajas">
                <h2 class="tituloSobreMi">Núcleo</h2>
                <ul class="ulSobreMi">
                    <li class="liSobreMi">HTML5</li>
                    <li class="liSobreMi">CSS3</li>
                    <li class="liSobreMi">JavaScript</li>
                    <li class="liSobreMi">Mobile y Responsive Design</li>
                    <li class="liSobreMi">Node.js</li>
                    <li class="liSobreMi">MongoDB</li>
                    <li class="liSobreMi">APIRest</li>
                </ul>
            </div>
            <div class="cajas">
                <h2 class="tituloSobreMi">Frameworks y Bibliotecas</h2>
                <ul class="ulSobreMi">
                    <li class="liSobreMi">jQuery</li>
                    <li class="liSobreMi">Vue.js</li>
                    <li class="liSobreMi"> Express.js</li>
                </ul>
            </div>
        </section>
    </article>
    <div class="imgSobreMi">
        <img src="/images/franqsanz.png" class="miFoto" alt="Franqsanz">
    </div>
    <h2 class="titulos">Estudios</h2>
    <div class="estudios">
        <div class="infoEstudiosSection">
            <h3 class="tituloEstudios"> 💻 Estudios de forma independiente</h3>
            <p class="infoEstudios">
                En el 2019 me he encargado de seguir aprendiendo Progrmación Web
                de varias formas, desde cursos online, libros y artículos en internet sobre tecnologias:
                <b>
                    Node.js,
                    Express,
                    MongoDB,
                    Vue.js,
                    Handlebars.js,
                    CSSGrid,
                    Flexbox,
                    APIRest,
                    Seguridad,
                    Etc.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.educacionit.com/cordoba" target="_blank" class="a_estudios">
                    🏫 Educación IT Córdoba 🔗
                </a>
            </h3>
            <p class="infoEstudios">
                En el 2018 asistí al instituto, donde realicé cursos sobre Programación Web.
                <b>
                    JavaScript,
                    PHP y MySQL,
                    P.O.O. (Programación Orientada a Objetos) y
                    PHP P.O.O.
                </b>
            </p>
            <h3 class="tituloEstudios">
                🏫 Instituto C.I.S.E.
            </h3>
            <p class="infoEstudios">
                En el 2017 asistí al instituto, donde realicé cursos sobre:
                <b>
                    Diseño Grafico,
                    Diseño Web en HTML5, CSS3 y
                    Edicion de Video.
                </b>
            </p>
            <h3 class="tituloEstudios">
                <a href="https://www.instagram.com/ibatsanjose/?hl=es-la" target="_blank" class="a_estudios">
                    🏫 I.B.A.T. San Jóse 🔗
                </a>
            </h3>
            <p class="infoEstudios">
                Realicé el secundario en el Instituto Bachillerato AgroTecnico San Jóse
                de la localidad de Villa del Rosario, obteniendo el título de técnico en produccion agropecuaria.
            </p>
        </div>
    </div>
</div>