<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Apasionado por el Diseño y la Programación. Desarrollador Web">
    <meta property="og:image" content="../images/franqsanz-dev-logo.png">
    <meta property="og:description" content="Apasionado por el Diseño y la Programación. Desarrollador Web">
    <meta property="og:title" content="Franqsanz Dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Franqsanz Dev">
    <meta name="twitter:description" content="Apasionado por el Diseño y la Programación. Desarrollador Web">
    <meta name="twitter:image" content="../images/icon/icon-60-60.png">

    <meta name="author" content="Franco Andrés Sánchez">
    <link rel="apple-touch-icon" sizes="57x57" href="../images/icon/icon-57-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/icon/icon-60-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon/icon-72-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/icon/icon-76-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon/icon-114-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/icon/icon-120-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/icon/icon-144-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/icon/icon-152-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/icon/icon-180-180.png">
    <meta name="theme-color" content="#ffc600">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/articulos.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
    {{!-- <link rel="icon" href="../images/favicon.ico" type="image/ico"> --}}
    <title> {{ titulo }} </title>
</head>

<body>
    <main>
        <header>
            {{!-- simbolo de menu mobile --}}
            <div class="hamburgesa">
                <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div>
            </div>
            <div class="logo">
                <a href="/" class="a_logo">Franqsanz Dev</a>
            </div>
            <div class="nav">
                <ul class="ulMenu">
                    <li class="X">X</li>
                    {{!-- <li class="li_search liMenu">
                        <form action="/blog" method="GET">
                            <input type="text" name="search" class="search" placeholder="Buscar Articulos..." required>
                        </form>
                    </li> --}}
                    <li class="liMenu">
                        <a href="/" class="nav_enlaces">Inicio</a>
                    </li>
                    {{!-- <li class="liMenu">
                        <a href="/blog" class="nav_enlaces">Blog</a>
                    </li> --}}
                    <li class="liMenu">
                        <a href="/contacto" class="nav_enlaces">Contacto</a>
                    </li>
                    <li class="liMenu">
                        <div class="iconMode">🌙</div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="cerrarNav">
            {{{ body }}}
        </div>
        <footer>
            <div class="redes">
                <a href="https://instagram.com/franqsanz" class="a_redes" target="_blank" rel="noopener">
                    <i class="fa fa-instagram" title="Instagram"></i>
                </a>
                <a href="https://twitter.com/franqsanz" class="a_redes" target="_blank" rel="noopener">
                    <i class="fa fa-twitter" title="Twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/franqsanzdev" class="a_redes" target="_blank" rel="noopener">
                    <i class="fa fa-linkedin" title="Linkedin"></i>
                </a>
                <a href="https://github.com/Franqsanz" class="a_redes" target="_blank" rel="noopener">
                    <i class="fa fa-github" title="GitHub"></i>
                </a>
            </div>
            <p class="infoLicense">
                Hecho con ❤ por Franco Andrés Sánchez
            </p>
            <p class="infoLicense">
                {{!-- Copyright ©  --}} 2020
            </p>
        </footer>
    </main>
    <script defer src="../js/events.js"></script>
</body>

</html>